body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh; /* vh: view for height, indica que la altura del cuerpo de la pag debe tener la altura del navegador*/
    background: hsl(204 100% 5%);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px;
    padding-top: 100px;
    height: 60px;
    font-size: 72px;
    color: #71632D;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header, ul {
    background: linear-gradient(
        to right,
        hsl(98 100% 62%),
        hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;

    border: 1px solid white;
    padding: 50px;
    margin-bottom: 20px;

    font-size: 28px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100vw;
    padding: 50px 0;
}



/* li a {
    color: green;
} */

/* En url se accede de manera relativa a todo lo que esta despues de las carpetas static*/
/* body {
    background: white url("images/backgroud.gif") no-repeat;
} */

/*
li {
    list-style: none;
    display: block;
    margin: 24px;
}
li a{
    color : white;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    background: gray;
}
li  a:hover {
    background: orange;
}
li  a:active {
    background: red;
    color: white;
}
*/

/*
li a{
    color : white;
}
li a:link, a:visited, a:focus {
    border-radius: 10%;
    background: gray;
}
li  a:hover {
    background: orange;
}
li  a:active {
    background: red;
    color: white;
}
*/