<!-- Sirve para traer archivos estaticos a los archivos html -->
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}"> <!-- La etiqueta static dentro del href es para no harcodear la URL -->

<!-- Mostrar un conjunto de enlaces que van a llevar al detalle de esas preguntas -->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--  <li><a href="/polls/{{ question.id }}">{{ question.question_text }}</a></li>  --> <!-- La ruta esta HARD-CODING o quemada, que no es una buena practica -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <!-- se usa el 'app_name : name_de_la_ruta_en_el_archivo_url' y lleva un parametro -->
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are avaliable.</p>
{% endif%}

<!-- https://docs.djangoproject.com/en/4.0/ref/templates/language/ -->
<!-- https://docs.djangoproject.com/en/4.0/ref/templates/builtins/ -->
<!-- https://docs.djangoproject.com/en/3.2/topics/db/queries/#field-lookups-intro -->